body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 0, 85);
}

.book {
    margin: auto;
    width: 20%;
    border: 5px solid #67007c;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    border: 10px solid #67007c;
}

h1 {
    text-align: center;
}

.div_text {
    background-color: #ee98ff;
    border: 5px solid #67007c;
}
