body {
    font-family: sans-serif;
    background-color: rgb(37, 0, 85);
}

.book {
    margin: auto;
    width: 20%;
    border: 5px solid #67007c;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}

img {
    width: 75%;
    text-align: center;
    border: 10px solid #67007c;
}

h1 {
    text-align: center;
}

#div_text {
    background-color: #ee98ff;
    border: 5px solid #67007c;
}

ul {
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    display: block;
}

ul li {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}